<!DOCTYPE html> <html> <head> <style type="text/css"></head>

.peng {
	height: 200px;
	width: 200px;
	border: 0px solid black;
	border-radius: 5px;
	/*background-color: #000000;*/
	/*Add your CSS here!*/
	float:right
}

#coffee {
  border-radius: 20%;
  border: 2px solid #D2B72E;
  display: inline-block;
}
</html>