---
---

// start content

#cbackgroundimg {
 background-image: url("http://i.imgur.com/VwL8ryV.jpg (200KB)");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center; 
 padding:0;
}

