<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="/blog/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="/blog/bootstrap/bootstrap.js"></script>
  
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  
  
   <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          
          <a href="http://neapolitan-a-la-code.github.io/blog/" class ="navbar-brand"> < Neapolitan-á-la-code >  </a>
            
            <button class="navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">            
              <img id="navtoggleimg" src="/blog/PenguinIC.png"/>
            </button>
            
            <div class = "collapse navbar-collapse navHeaderCollapse">
                <ul class = "nav navbar-nav navbar-right">
                    <li class="dropdown">        
                      <a href="http://neapolitan-a-la-code.github.io/blog/" class = "dropdown-toggle" data-toggle ="dropdown"> <img class="navimg" id ="linkhome" src="/blog/home.png"/> Home <b class ="caret"> </b> </a>
                      <ul class="dropdown-menu">
                        <li> <a href="/blog/dayone/"> Day One </a> </li>
                        <li> <a href="/blog/daytwo/"> Day Two </a> </li>
                        <li> <a href="/blog/daythree/"> Day Three </a> </li>
                        <li> <a href="#"> Day Four </a> </li>
                        <li> <a href="#"> Day Five </a> </li>
                      </ul>          
                  </li>
                  <li> 
                        <a href="/blog/about/"> 
                          <img class="navimg" id ="linkaboutus" src="/blog/images/chocolate_smile.png"/> About Us 
                        </a>                                                                            
                   </li>
                  <li> 
                        <a href="/blog/work/"> 
                            <img class="navimg" id ="linkwork" src="/blog/strawberry_smile.png"/> Work 
                        </a> 
                  </li>
                  <li> <a href="/blog/play/"> <img class="navimg" id ="linkplay" src="/blog/vanillia_smile.png"/> Play </a> </li>
                </ul>
            </div>                     
      </div>
    </div>
  
</head>
