/**
 * Site header
 */
.site-header {
    border-top: 5px ;
    border-bottom: 1px ;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

#navtoggleimg {
  height: 60px;
  width: 60px;
}

.navimg {
  height:40px;
  width: 40px;
  margin-left: 20px;
}

.navbar {
  background-color: #251902;
  border-bottom: 1px #251902;
  opacity: 0.9;
}


.hover_showtext a{
position:relative;
}

.hover_showtext a span{
position:absolute;
display:none;
z-index:99;
}
.hover_showtext a:hover span{
display:block;
}

.navbar-brand {
  margin-top: 6px;
  margin-bottom: 5px;
}

#linkhome:hover {
  content: url(/blog/images/home_s.png);
}

#linkaboutus:hover {
  content: url(/blog/images/chocolate_smile_s.png);
}


#linkwork:hover {
  content: url(/blog/images/strawberry_smile_s.png);
}

#linkplay:hover {
  content: url(/blog/images/vanillia_smile_s.png);
}

.biopicright {

  float: right;
  border-radius: 50px;
}

.biopicleft {

  float: left;
  border-radius: 50px;
}


.bioright {
 
  height: 350px;
  width: 400px;
  float: right;
  padding-top: 10px;
  padding-bottom: auto;
  background-color: #331900;
  font-color: white;
  font-size: 16px;
  font-family: Baskerville;
  border-radius: 20px;
  text-align: center;
}

.bioleft {
  height: 350px;
  width: 400px;
  float: left;
  padding-top: 10px;
  padding-bottom: auto;
  background-color: #331900;
  font-color: white;
  font-size: 16px;
  font-family: Baskerville;
  border-radius: 20px;
  text-align: center;
}

#bio{
  margin-right: auto;
  margin-left: auto;
  width: 800px;
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.imgBox#mint {
  background: url('/blog/images/mint.jpg'); 
  height: 244px;
  width: 244px;
}

.imgBox#mint:hover {
  background: url('/blog/images/penguin_mint.jpg'); 
  height: 244px;
  width: 244px;
  transition: 500ms, ease-in;
  
}

.imgBox#pepper {
  background: url('/blog/images/pepper.jpg'); 
  height: 244px;
  width: 244px;
}

.imgBox#pepper:hover {
  background: url('/blog/images/penguin_pepper.jpg'); 
  height: 244px;
  width: 244px;
  transition: 500ms, ease-in;
  
.imgBox#pepper:hover ~ .herb-text {
    opacity: 0.5;
  color: black;
  }
  
  .herb-text#pepper {
    opacity: 1;
    
  }
}

.imgBox#eggplant {
  background: url('/blog/images/eggplant.jpg'); 
  height: 244px;
  width: 244px;
}

.imgBox#eggplant:hover {
  background: url('/blog/images/penguin_eggplant.jpg'); 
  height: 244px;
  width: 244px;
  transition: 500ms, ease-in;
  
}

.iframe {
  width: 100%;
  height: 400px;

  
}

.projectText {
font-size: 24px;
font-weight: lighter;
color: white;
background-color: rgba(0,0,0,0.75);
margin-bottom: 50px;
text-indent: 5px;
letter-spacing: 1.5px;
}


ul.play {
  list-style: none;
  
}

li {
  list-style: none;
  
}

div.inner-text {
  margin: 0 auto 0px auto;
}

.herb-text {
 width: 240px; 
  font-size: 12px; 


 
}

li.herbs {
  width: 244px; 
  display: inline-block;
  
}

a:hover {
  text-decoration: none;
}
